{
  "extends": "segment/browser",

  "rules": {
    "global-strict": 0,
    "max-len": 0,
    "new-cap": [2, { "capIsNewExceptions": ["ClickTale", "ClickTaleEvent", "ClickTaleField", "ClickTaleSetUID"] }],
    "strict": 1
  },

  "globals": {
    "exports": true,
    "module": true,
    "require": true
  }
}
